main {
	padding-top: 1%;
	min-height: 100vh;
}

/*
NAVBAR STYLING
*/
nav {
	background-color: #FFFFFF;
	border-radius:50px;
	box-shadow: 0px 10px 5px grey;
}

#navbarLogo {
	width: 4vw ;
}

.nav-link {
	font-size: 1.8rem;
	color: black;
}
#profilecontainer {
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: right;
}
#profileimagecontainer {
	display: inline-block;
	width:4vw;
}

#profiletext {
	font-size:1.2rem;
	margin:0;
}

#navprofile {
	width: 99%;
	box-sizing: border-box;
}

.dropdown-item{
	font-size:1.3rem;
}

.dropdown-toggle::after {
    display:none !important;
}

#editAccountModal{
	text-align: left;
}

/*
BookCard Styling
*/

#profileBooksDiv{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#profileBooksDiv >h3{
	font-size: 2.5rem;
	text-decoration: underline;
}

.bookcard {
	display: flex;
	flex-wrap: wrap;
	width: 35rem;
	height: 20rem;
	margin-bottom: 2rem;
	box-shadow: 5px 5px 4px grey;
}

.bookcard img {
	display: inline-block;
	width: 35%;
	margin: 0 5%;
}

.bookcard-link::hover{
	text-decoration:none;
}
.card-body {
	color: black;
	width: 48%;
	display: inline-block;
}
.card-body >h5{
	font-size:1.7rem;
	margin-bottom: 0;
}

#card-author{
	font-size:1.2rem;
	margin:0;
}

#profilebook-search{
	border-style: none;
	font-size: 1.3rem;
	border-radius: 50px;
	padding: 25px;
}

/*
The Exchange Page (ALl Book)
*/

#display-book{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	align-content: center;
	padding-right:100px;
	padding-left: 100px;
}

.search-bar{
	margin: 3rem auto;
    padding: 0 141px;
    border-radius: 10px;
}

#allbook-search{
	border-style: none;
	font-size: 1.5rem;
	border-radius: 50px;
	padding: 40px;
}

.searchAllTitle {
	display: block;
	width:97%;
	font-size: 2rem;
	font-weight:bold;
}

/*
Profile Card 
*/


.profile-card {
	text-align: center;
	width:80%; 
}

.profile-card img{
	width:50%;
	height: auto;
	margin: 10% auto; 
}

.profile-card-body {
	margin: 0 auto;
}

/*
Individual Book Page
*/

#individualBookImage{
	display:block;
	width: 80%;
	margin: 0 auto;
}

#ownerhistory{
	text-align:center;
	margin-top: 10%;
}

#individualBookButtons{
	text-align:center;
}

#individualBookDescription>h1{
	font-weight: bold;
	margin-bottom: 5%;
}

#individualBookDescription>h3{
	font-weight: bold;
	margin-bottom: 5%;
}
#booksynopsis {
	margin-bottom: 5%;
}

#booksynopsis>h2{
	font-weight: bold;
	margin-bottom: 2%
}
#booksynopsis>p{
	font-size:1.2rem;
}

#bookreviews>h2{
	font-weight: bold;
	margin-bottom: 2%
}

.reviews {
	border: 1px solid grey;
	border-radius: 40px;
	padding: 3%;
}

.reviews>p{
	font-size:1.2rem;
	font-style: italic;
}

#username_date>#right{
	float:right;
}

#username_date>#left{
	float:left;
}

#modalTitle{
	font-size:1.7rem;
	font-weight: bold;
}

.form-group>label{
	font-size:1.4rem;
	font-weight: bold;
}

.form-group>input,
.form-group>textarea{
	font-size:1.2rem;
}

#review-header{
	width: 100%;
}


#review-header>#left{
	float:left;
}

#review-header>.rightFloat{
	float:right;
}

/*
Add Book Page
*/

.addForm{
	text-align: center;
}

/*
Individual Request Page
*/

.request-details{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	align-items:center;
	height: auto;

}

#request-owner-details,
#request-recipient-details{
	width: 32%;
	display: inline-block;
	text-align:center;
	border: 2px solid black;
	border-radius: 15%;
	box-shadow: 5px 5px 4px grey;
}

#request-owner-details{
	box-shadow: -5px 5px 4px grey;
}

#request-owner-details>img,
#request-recipient-details>img{
	width: 50%;
}

#swap-confirmation{
	width: 32%;
	text-align: center;
}

#request-book-div{
	width: 98%;
	border: 2px solid black;
	border-radius:5%;
	box-shadow: 0px 5px 4px grey;
}

#request-book-div>h1{
	text-align: center;
}

#request-book-div>img{
	width: 40%;
	margin-left:4%;
}

#request-book-div>#request-book-header {
	width: 50%;
	float:right;
	margin-right: 4%
}

#request-chat-box {
	height: 80vh;
	border: 2px solid black;
	text-align:center;
	padding-top: 18%;
	font-size:3rem;
	font-style: italic;
}

#owner-arrow,
#recipient-arrow{
	font-size:1.3rem;
	font-weight: bold;
}

#owner-arrow>span,
#recipient-arrow>span{
	font-style: 1.8rem;
}

#successful-password{
	display: none;
}

#incorrect-current,
#incorrect-match{
	display:none;
	color: red;
	font-size: 0.8rem;
}
